@import "variables";

footer {
    background: $foot-background-color;
    color: $foot-color;
    font-size: 0.9em;
    line-height: 1.5rem;
    padding: 35px $content-padding 30px;
    text-align: center;
}
