$body-width: 1080px;

$menu-height: 64px;
$content-padding: 30px;
$content-gap: 20px;

$primary-color: #d1aa35;
$background-background-color: #e6bf4d;
$main-background-color: #e2c469;
$header-background-color: rgba(#f5dc93, 0.9);
$text-color: #444;
$box-shadow-color: rgba(black, 0.1);
$code-background-color: #e4be4e;
$foot-background-color: #333;
$foot-color: #999;
$did-you-know-background-color: $primary-color;
$did-you-know-text-color: #eee;
