$body-width: 1080px;

$menu-height: 64px;
$content-padding: 30px;
$content-gap: 20px;

$primary-color: #d1aa35;
$background-background-color: whitesmoke;
$main-background-color: white;
$header-background-color: rgba(white, 0.9);
$text-color: #444;
$box-shadow-color: rgba(black, 0.1);
$code-background-color: #eee;
$foot-background-color: #333;
$foot-color: #999;
$did-you-know-background-color: #404040;
$did-you-know-text-color: #eee;
